/*************************************************************************
 * @author austin griffin
 * 09/27/16
 */


/* Initialize styles
/*************************************************************************/

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	background-color:#fff;
	font-size:10px;
	height:100%;
}

div, span, article, aside, footer, header, hgroup, nav, section,
h1, h2, h3, h4, h5, h6, p, blockquote, a, ol, ul, li,
table, tr, th, td, tbody, tfoot, thead {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

img 	{
	margin:0;
	padding:0;
	border:0;
}

@font-face {
  font-family: myFont;
  font-style: normal;
  font-weight: normal;
  src: url("../SIMPLIFICA Typeface.ttf");
}

h1, h2, h3, h4, h5, h6, p, li, blockquote, td, th, a, caption, em, strong, strike, span {
	font-family:myFont;
	font-size:100%;
	font-weight: normal;
	font-style: normal;
	line-height: 100%;
	text-indent: 0;
	text-decoration: none;
	text-align: left;
	color: #fff;
}


/* Basic Font Properties */
/*************************************************************************/

p {
	font-size:14px;
	color:#000;
}

ol, ul {
	list-style: none;
}

h1 { font-size:55px; color:#000; font-weight: bold; text-align: center; margin-bottom: 20px;} /* Main Title Heading */
h2 { font-size:28px; color:#510000; border-bottom: 1px #ccc solid; margin-bottom: 8px; text-align: center;} /* Sub-Title Heading */
h3 { font-size:22px; color:#510000; margin-bottom:10px; }
h4 { font-size:20px; color:#000; }
h5 { font-size:18px; color:#000; }
h6 { font-size:16px; color:#000; }


/* Forms */
/*************************************************************************/

form {
	text-align:left;
	margin:0px;
}

label {
	display:block;
	background:none;
}

submit {
	background:#CCC;
}

input {
	width:100%;
	margin:0;
}

button {
	color:#4b1312;
	background:#fff;
	width:125px;
	padding:3px 10px;
}

textarea {
	margin:0;
	padding:5px;
	background:none;
}

select {
	margin:0;
	padding:5px;
	background:none;
}

input:focus, textarea:focus, select:focus {
	background-color:#BFEBFF;
}


/* Classes */
/*************************************************************************/

.clear { clear:both; }

.center-div { margin:0 auto; }

.blueberry { max-width: 960px; }


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333333;
    background-color: rgba(77,77,77, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Basic Div Structure
/*************************************************************************/
#container {

}

#doc { margin: 0 0;}

#header {
	margin:0 auto;
	padding:50px;
	text-align: center;
}

#header p {
	text-align: center;
	color:#4d4d4d;
		font-size:28px;
}

#header a {
	text-align: center;
	color:#000;
}

#menu p {
	text-align: center;
	font-size: 24px;
	margin-bottom: 8px;
	color:#fff;
}
#menu a {
	text-align: center;
	font-size: 28px;
	color:#fff;
}

#menu a:hover {
	text-align: center;
	color:#333333;
}

#header span {
	color: #4d4d4d;
}
#myNav a {
	text-align: center;
	color: #fff;
}

#content {
	margin: 0 auto;
	min-width: 740px;
	max-width: 1140px;
	background: #fff;
}
